.footer {
	padding-bottom: 60px;
}

.footer .info {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

.footer .info .social-list .item {
	margin-right: 10px;
}

.footer .footer-info:not(:last-child) {
	margin-right: 48px;
}

.footer .nav {
	margin-top: 60px;
}

.footer .nav .list {
	justify-content: center;
}

@media screen and (max-width: 480px) {
	.footer {
		margin-top: 50px;
	}

	.footer .info {
		flex-direction: column;
	}

	.footer .footer-info:not(:last-child){
		margin: 0 0 30px 0;
	}

	.footer .nav .list {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.footer .nav .list>* {
		margin: 0 0 30px 0;
	}
}