.about-section {
	margin-top: 70px;
	max-width: 785px;
	padding-bottom: 100px;
}

.about-section .title {
	padding: 0;
	margin-bottom: 38px;
	text-align: left;
}

.about-section .experience {
	margin-top: 64px;
}

.about-section .item {
	min-height: 55px;
	position: relative;
	margin-top: 50px;
}

.about-section .item > * {
	position: absolute;
}

.list-experience .item .position {
	top: 0;
	left: 0;
	font-size: 20px;
}

.list-experience .item .location {
	bottom: 0;
	left: 0;
	font-size: 12px;
}

.list-experience .item .location::before {
	content: url('/img/svg/office.svg');
	vertical-align: middle;
	margin-right: 5px;
}

.about-section .type-work {
	top: 0;
	right: 0;
	font-size: 9px;
	width: 93px;
	border: 1px;
	border-radius: 100px;
	text-align: center;
	color: #018C0F;
	font-weight: 700;
	background-color: #D7FFE0;
	padding: 5px 20px;
} 

.about-section .time-experience {
	bottom: 0;
	right: 0;
	font-size: 12px;
	margin-right: 23px;
}

.about-section .time-experience::before {
	content: url('/img/svg/time.svg');
	vertical-align: middle;
	margin-right: 5px;
}

.about-section .item-line {
	min-width: 776px;
	top: 75px;
}

.about-section .education {
	margin-top: 76px;
}

.education .item .title {
	top: 0;
	left: 0;
	font-size: 20px;
}

@media screen and (max-width: 768px) {
	.about-section .item-line {
		min-width: 740px;
	}
}

@media screen and (max-width: 480px) {
	.about-section .item-line {
		min-width: 445px;
	}

	.about-section .title,
	.about-section .position {
		max-width: 300px;
	}
}