.about-section {
	margin-top: 70px;
	max-width: 785px;
	padding-bottom: 100px;
}

.about-section .title {
	padding: 0;
	margin-top: 60px;
	margin-bottom: 38px;
	text-align: left;
}

.about-section .item {
	position: relative;
	margin-top: 55px;
	margin-bottom: 35px;
}

.about-section .item .position,
.about-section .item .name-univer {
	font-size: 20px;
	width: 580px;
}

.about-section .item .location {
	font-size: 12px;
}

.about-section .item .type-work h4 {
	font-size: 9px;
	border: 1px;
	width: 93px;
	height: 24px;
	padding: 5px 20px;
	border-radius: 100px;
	text-align: center;
	color: #018C0F;
	font-weight: 700;
	background-color: #D7FFE0;
}

.about-section .item td:last-child,
.about-section .item .time-education {
	position: relative;
}

.about-section .item .type-work {
	min-width: 200px;
}

.about-section .item .type-work h4 {
	position: absolute;
	top: 0;
	right: 0;
}

.about-section .item .time-experience p,
.about-section .item .time-education p {
	text-align: right;
	font-size: 12px;
	margin-right: 23px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.list-experience .item .location p::before {
	content: url('/img/svg/office.svg');
	vertical-align: middle;
	margin-right: 5px;
}

.about-section .time-experience p::before,
.about-section .time-education p::before {
	content: url('/img/svg/time.svg');
	vertical-align: middle;
	margin-right: 5px;
}

.about-section .item::after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 98%;
	height: 2px;
	background-color: #EBEAED;
}

.last-row-time {
	height: 20px;
}

@media screen and (max-width: 768px) {
	.about-section .item .position,
	.about-section .item .name-univer {
		max-width: 520px;
	}
}

@media screen and (max-width: 480px) {
	.about-section .item .position,
	.about-section .item .name-univer {
		max-width: 230px;
	}
	
	.about-section .name-univer h3,
	.about-section .position h3 {
		max-width: 300px;
	}
}